@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 250 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 250 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 10% 3.9%;
    --primary: 267 75% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 4.8% 95.9%;
    --secondary-foreground: 250 5.9% 10%;
    --muted: 250 4.8% 95.9%;
    --muted-foreground: 250 3.8% 46.1%;
    --accent: 267 75% 95.9%;
    --accent-foreground: 250 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 5.9% 90%;
    --input: 250 5.9% 90%;
    --ring: 267 75% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 250 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 250 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 250 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 267 75% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 250 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 250 3.7% 15.9%;
    --muted-foreground: 250 5% 64.9%;
    --accent: 267 75% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 250 3.7% 15.9%;
    --input: 250 3.7% 15.9%;
    --ring: 267 75% 64%;
  }
}
